@model App.CoreLib.EF.Data.Identity.AppRole
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal">

            <div class="form-group">
                <button id="addSelected" type="button">Add Selected</button>
            </div>
             <div class="form-group">
                <input asp-for="Id" type="hidden"/>
            </div>

        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->